body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pogoda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px;
}

.pogoda form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pogoda label {
  font-size: 18px;
  margin-bottom: 10px;
}

.pogoda input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.pogoda input[type="button"] {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pogodaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
  margin: 20px;
}

.pogodaCard img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.pogodaCard h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.pogodaCard p {
  font-size: 18px;
  margin: 0;
}