*{
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    display: grid;
    place-items: center;
}
.slider{
    width: 100%;
    height: 611px;
    max-width: 960px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.slide{
    width: 100%;
    height: 611px;
    max-width: 960px;
    position:absolute;
    transition: all 0.5s;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: center;
}

.btn{
    position: absolute;
    color: white;
    padding: 10px;
}

.btn-next{
    top:50%;
    right:5%;
}
.btn-back{
    top:50%;
    left:5%;
}
.btn-picture-1{
    top:90%;
    left:25%;
}
.btn-picture-2{
    top: 90%;
    left: 50%;
}
.btn-picture-3{
    top:90%;
    right:25%;
}